<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Add Ingredients</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card-content>
    <ion-row>
      <ion-col>
        <ion-list lines="none">
          <ion-card>
            <ion-item>
              <ion-label position="stacked">Name</ion-label>
              <ion-input placeholder="Bitte Namen eingeben" id="ingredientName" [(ngModel)]="ingredientName"
                type="text"></ion-input>
            </ion-item>
          </ion-card>

          <ion-grid class="button-area">
            <ion-row>
              <ion-col size="6">
                <ion-button color="primary" (click)="save()">Save</ion-button>
                <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-card-content>
  <!-- <ion-button color="primary" (click)="save()">Save</ion-button>
  <ion-button color="medium" (click)="cancel()">Cancel</ion-button> -->
</ion-content>