<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tischreservierung</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <div class="center-content">
    <app-refresh (refreshed)="init()"></app-refresh>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Aktuelle Tischreservierungen</ion-card-title>
        <ion-button expand="block" color="primary" (click)="navigateToAddReservation()">
        Neue Reservierung
      </ion-button>
      </ion-card-header>
      <ion-segment *ngIf="slots?.length" [(ngModel)]="selectedSlotId" (ngModelChange)="onSlotFilterChanged($event)">
        <ion-segment-button [value]="slot.id" *ngFor="let slot of slots">
          <ion-label>{{ slot.date | time: 'dayOfWeek' }}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-card>

  <ion-grid class="timeline-grid" *ngIf="_selectedSlot && intervals.length">
    <ion-row class="header-row">
      <ion-col size="2">Tisch</ion-col>
      <ion-col *ngFor="let interval of intervals" class="slot-header">
        {{ interval }}
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let tableName of getTableNames()" class="table-row">
      <ion-col size="2" class="table-name">
        {{ tableName }}
      </ion-col>

    <ion-col *ngFor="let interval of intervals"
            [ngClass]="isReserved(tableName, interval) ? 'reserved' : 'free'"
            (click)="onCellClick(tableName, interval)">
      <div class="reserved-name" *ngIf="getReservation(tableName, interval) as r">
        {{ r.customer_name }}
      </div>
    </ion-col>
    </ion-row>
  </ion-grid>
  </div>
</ion-content>