<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-item *ngFor="let pump of pumpOptions">
    <ion-label>{{ pump.label }}</ion-label>
    <!-- <ion-select [value]="pump.value">
      <ion-select-option [value]="pump.value">{{ pump.label }}</ion-select-option>
    </ion-select> -->

    <ion-select [(ngModel)]="bottleAssignments[pump.value]">
      <ion-select-option *ngFor="let bottle of bottles" [value]="bottle.index">
        {{ bottle.name }}
      </ion-select-option>
    </ion-select>

  </ion-item>

  <ion-button color="primary" (click)="save()">Save</ion-button>
  <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
</ion-content>