<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="center-content">
    <app-refresh (refreshed)="init()"></app-refresh>
    <ion-list>
      <ion-card>
        <ion-card-header>Verkaufszeiten</ion-card-header>
        <ion-item-group>
          <div *ngFor="let slot of slots;; let i = index">
            <ion-card style="position: relative">
              <ion-card-header>
                <ion-card-title>Slot {{ i + 1 }}</ion-card-title>
                <ion-button fill="clear" color="danger" size="small" style="position: absolute; top: 8px; right: 8px;"
                  (click)="deleteSlot(slot)">
                  <ion-icon name="trash-outline"></ion-icon>
                </ion-button>
              </ion-card-header>
              <ion-item>
                <ion-label position="stacked">Datum</ion-label>
                <ion-datetime-button datetime="date-{{i}}"></ion-datetime-button>

                <ion-modal [keepContentsMounted]="true">
                  <ng-template>
                    <ion-datetime firstDayOfWeek="1" minuteValues="0,15,30,45" locale="de-DE" id="date-{{i}}"
                      presentation="date" [(ngModel)]="slot.date"></ion-datetime>
                  </ng-template>
                </ion-modal>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Startzeit</ion-label>
                <ion-datetime-button datetime="start-{{i}}"></ion-datetime-button>
                <ion-modal [keepContentsMounted]="true">
                  <ng-template>
                    <ion-datetime firstDayOfWeek="1" minuteValues="0,15,30,45" locale="de-DE" id="start-{{i}}" presentation="time"
                      [(ngModel)]="slot.range_start"></ion-datetime>
                  </ng-template>
                </ion-modal>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Endzeit</ion-label>
                <ion-datetime-button datetime="end-{{i}}"></ion-datetime-button>
                <ion-modal [keepContentsMounted]="true">
                  <ng-template>
                    <ion-datetime firstDayOfWeek="1" minuteValues="0,15,30,45"locale="de-DE" id="end-{{i}}" presentation="time"
                      [(ngModel)]="slot.range_end"></ion-datetime>
                  </ng-template>
                </ion-modal>
              </ion-item>
            </ion-card>
          </div>
          <ion-row class="ion-justify-content-center ion-padding">
            <ion-button fill="clear" (click)="addSlot()" color="primary">
              <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
            </ion-button>
          </ion-row>
        </ion-item-group>

        <ion-button color="primary" (click)="saveSlots()">Speichern</ion-button>
      </ion-card>

      <ion-card>
        <ion-item-group>
          <ion-item-divider>
            <ion-label> Kosten </ion-label>
          </ion-item-divider>

          <ion-item *ngFor="let product of products">
            <ion-label>{{ product.name }}:</ion-label>
            <ion-input type="number" inputmode="decimal" [(ngModel)]="product.price" (ionBlur)="formatPrice(product)"
              min="0" step="0.01" placeholder="0.00">
              <ion-text slot="end">€</ion-text></ion-input>
          </ion-item>

        </ion-item-group>
        <ion-button color="primary" (click)="saveProduct()">Speichern</ion-button>
      </ion-card>

      <ion-card>
        <ion-item-group>
          <ion-item-divider>
            <ion-label>Konfiguration</ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>Max. Hähnchen</ion-label>
            <ion-text>
              <ion-input type="number" [(ngModel)]="config.chicken" min="0" step="1">
                <ion-text slot="end">Stk.</ion-text>
              </ion-input>
            </ion-text>
          </ion-item>
          <ion-item>
            <ion-label>Max. Nuggets</ion-label>
            <ion-text>
              <ion-input type="number" [(ngModel)]="config.nuggets" min="0" step="1">
                <ion-text slot="end">Stk.</ion-text>
              </ion-input>
            </ion-text>
          </ion-item>
          <ion-item>
            <ion-label>Max. Pommes</ion-label>
            <ion-text>
              <ion-input type="number" [(ngModel)]="config.fries" min="0" step="1">
                <ion-text slot="end">Stk.</ion-text>
              </ion-input>
            </ion-text>
          </ion-item>
        </ion-item-group>
        <ion-button color="primary" (click)="saveConfig()">Speichern</ion-button>
      </ion-card>

      <ion-card>
        <ion-item-group>
          <ion-item-divider>
            <ion-label>Kanban</ion-label>
          </ion-item-divider>

          <ion-item *ngFor="let column of columns">
            <ion-checkbox [(ngModel)]="column.state">
              {{ column.label }}
            </ion-checkbox>
          </ion-item>
        </ion-item-group>

        <ion-button color="primary" (click)="saveKanbanColumns()">Speichern</ion-button>
      </ion-card>

    </ion-list>

    <ion-button color="primary" (click)="save()">Speichern</ion-button>
    <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
  </div>
</ion-content>