.warning-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.warning-image-container ion-img {
    max-width: 50%;
    height: auto;
    border-radius: 8px;
}