<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ isEditMode ? 'Reservierung bearbeiten' : 'Tisch-Reservierung' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <div class="center-content">
    <app-back></app-back>
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ isEditMode ? 'Reservierung bearbeiten' : 'Neue Reservierung' }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input [(ngModel)]="customerName" placeholder="Name eingeben" type="text">
          </ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label class="required-label">Datum</ion-label>
        </ion-item>
        <ion-item>
          <ion-datetime-button datetime="date"></ion-datetime-button>
        </ion-item>

        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime [(ngModel)]="date" (ionChange)="onDateChanged()" id="date" presentation="date" minuteValues="0,15,30,45" firstDayOfWeek="1"></ion-datetime>
          </ng-template>
        </ion-modal>

        <ion-item lines="none">
          <ion-label class="required-label">Start</ion-label>
        </ion-item>

        <ion-item>
          <ion-datetime-button datetime="startTime"></ion-datetime-button>
        </ion-item>

        <ion-modal [keepContentsMounted]="true" (ionModalDidDismiss)="onStartTimeChanged()">
          <ng-template>
            <ion-datetime
              id="startTime"
              [(ngModel)]="startTime"
              presentation="time"
              minuteValues="0,15,30,45"
              firstDayOfWeek="1">
            </ion-datetime>
          </ng-template>
        </ion-modal>

        <ion-item lines="none">
          <ion-label class="required-label">Ende</ion-label>
        </ion-item>
        <ion-item>
          <ion-datetime-button datetime="endTime"></ion-datetime-button>
        </ion-item>

        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime
              id="endTime"
              [(ngModel)]="endTime"
              presentation="time"
              minuteValues="0,15,30,45"
              firstDayOfWeek="1">
            </ion-datetime>
          </ng-template>
        </ion-modal>

        <ion-item>
          <ion-label position="floating">Sitzplätze</ion-label>
          <ion-input [(ngModel)]="seats" placeholder="Anzahl eingeben" type="number" min="1">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Tisch</ion-label>
          <ion-select [(ngModel)]="selectedTable" placeholder="Tisch auswählen">
            <ion-select-option *ngFor="let table of tables" [value]="table.id">
              Tisch {{ table.name }} ({{ table.seats }} Plätze)
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-button expand="block" color="primary" (click)="submitReservation()" class="ion-margin-top">
          {{ isEditMode ? 'Reservierung aktualisieren' : 'Reservierung hinzufügen' }}
        </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Aktuelle Reservierungen {{ _selectedSlot?.date! | time: 'dayOfWeek' }} {{ _selectedSlot?.date! | time: 'date' }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div>
          <ion-item *ngIf="!getTableNames().length">
            <ion-label>Keine Reservierungen für diesen Tag.</ion-label>
          </ion-item>
        </div>
              <div class="timeline-scroll-wrapper" *ngIf="getTableNames().length">
        <ion-grid class="timeline-grid" *ngIf="_selectedSlot && intervals.length">
          <ion-row class="header-row">
            <ion-col>Tisch</ion-col>
            <ion-col *ngFor="let interval of intervals" class="slot-header">
              {{ interval }}
            </ion-col>
          </ion-row>

          <ion-row *ngFor="let tableName of getTableNames()" class="table-row">
            <ion-col class="table-name">
              {{ tableName }}
            </ion-col>

            <ion-col *ngFor="let interval of intervals"
                    [ngClass]="isReserved(tableName, interval) ? 'reserved' : 'free'"
                    (click)="onCellClick(tableName, interval)">
              <div class="reserved-name" *ngIf="getReservation(tableName, interval) as r">
                {{ r.customer_name }}
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>