.table-grid {
    ion-row {
        border-bottom: 1px solid #ccc;
    }

    ion-col {
        border-right: 1px solid #ccc;
        padding: 8px;
        text-align: center;
        font-size: 14px;
        white-space: nowrap;
    }

    ion-row:first-child ion-col {
        font-weight: bold;
        background-color: #f4f4f4;
    }

    ion-row:last-child ion-col {
        border-bottom: 1px solid #ccc;
    }

    ion-col:last-child {
        border-right: none;
    }
}

.hoverable {
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    color: inherit; // keeps original text color
}

.hoverable:hover {
    // background-color: var(--ion-color-light); // or use a custom shade
}

.green-cell {
    background-color: #d4edda;
    color: #155724;
    padding: 4px;
    border-radius: 4px;
    text-align: center;
}

.red-cell {
    background-color: #148231;
    color: #01240a;
    padding: 4px;
    border-radius: 4px;
    text-align: center;
}

.highlight-column {
    // border: 2px solid orange;
    // background-color: #fff7e6;
    border-radius: 6px;
    background-color: #ffe0b2; // sanftes Orange
    border-radius: 4px;
    padding: 4px;
}

.table-grid ion-row:first-child ion-col {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    // max-width: 80px;
}