<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bestellung</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <ion-item>
    <ion-label position="floating">Vorname</ion-label>
    <ion-input [(ngModel)]="order.firstname" name="firstname"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nachname</ion-label>
    <ion-input [(ngModel)]="order.lastname" name="lastname"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">E-Mail</ion-label>
    <ion-input type="mail" [(ngModel)]="order.mail" name="mail"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Telefonnummer</ion-label>
    <ion-input type="email" [(ngModel)]="order.phonenumber" name="phonenumber"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Datum & Uhrzeit</ion-label>
    <ion-datetime [(ngModel)]="order.date" name="datum" hourValues="10,11,12,13,14,15,16,17,18,19,20"
      minuteValues="0,15,30,45" presentation="date-time" preferWheel="true"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Hähnchen</ion-label>
    <ion-input type="number" [(ngModel)]="order.chicken" name="haehnchen"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nuggets</ion-label>
    <ion-input type="number" [(ngModel)]="order.nuggets" name="nuggets"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Pommes</ion-label>
    <ion-input type="number" [(ngModel)]="order.fries" name="pommes"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Sonstiges</ion-label>
    <ion-textarea [(ngModel)]="order.miscellaneous" name="sonstiges"></ion-textarea>
  </ion-item>

  <div class="ion-padding">
    <ion-button expand="block" (click)="submitOrder()">Bestellen</ion-button>
  </div>
</ion-content>