<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bestellung</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <div class="center-content">
    <app-refresh></app-refresh>
    <ion-card>
      <ion-item>
        <ion-label position="floating" class="required-label">
          Vorname
        </ion-label>
        <ion-input required [(ngModel)]="order.firstname" name="firstname" autocomplete="given-name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" class="required-label">
          Nachname
        </ion-label>
        <ion-input required [(ngModel)]="order.lastname" name="lastname" autocomplete="family-name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" class="required-label">E-Mail</ion-label>
        <ion-input required type="mail" [(ngModel)]="order.mail" name="mail" autocomplete="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" class="required-label">Telefonnummer</ion-label>
        <ion-input required type="email" [(ngModel)]="order.phonenumber" name="phonenumber"
          autocomplete="tel"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label class="required-label">Datum & Uhrzeit</ion-label>
      </ion-item>
      <ion-item position="floating">
        <ion-datetime-button datetime="datetime">
        </ion-datetime-button>
      </ion-item>

      <ion-note *ngIf="dateErrorText!=''" color="danger" class="ion-margin-horizontal">
        <!-- Datum bzw. Uhrzeit nicht möglich -->
         {{dateErrorText}}
      </ion-note>

      <ion-modal [keepContentsMounted]="true" (didDismiss)="validateDate()">
        <ng-template>
          <ion-datetime id="datetime" hourValues="10,11,12,13,14,15,16,17,18,19,20" minuteValues="0,15,30,45"
            presentation="date-time" [(ngModel)]="order.date" firstDayOfWeek="1"></ion-datetime>
        </ng-template>
      </ion-modal>

      <ion-item>
        <ion-label position="floating" class="required-label">Hähnchen</ion-label>
        <ion-input [errorText]="chickenErrorText" required type="number" [(ngModel)]="order.chicken" name="haehnchen"
          autocomplete="off" #chickenInput="ngModel"></ion-input>
      </ion-item>
      <ion-note *ngIf="chickenErrorText!=''" color="danger" class="ion-margin-horizontal">
        {{chickenErrorText}}
      </ion-note>

      <ion-item>
        <ion-label position="floating" class="required-label">Nuggets</ion-label>
        <ion-input [errorText]="nuggetsErrorText" required type="number" [(ngModel)]="order.nuggets" name="nuggets"
          autocomplete="off"></ion-input>
      </ion-item>
      <ion-note *ngIf="nuggetsErrorText!=''" color="danger" class="ion-margin-horizontal">
        {{nuggetsErrorText}}
      </ion-note>

      <ion-item>
        <ion-label position="floating" class="required-label">
          Pommes
        </ion-label>
        <ion-input [errorText]="friesErrorText" required type="number" [(ngModel)]="order.fries" name="pommes"
          autocomplete="off"></ion-input>
      </ion-item>
      <ion-note *ngIf="friesErrorText!=''" color="danger" class="ion-margin-horizontal">
        {{friesErrorText}}
      </ion-note>

      <ion-item>
        <ion-label position="floating">Sonstiges</ion-label>
        <ion-textarea [(ngModel)]="order.miscellaneous" name="sonstiges" autocomplete="off"></ion-textarea>
      </ion-item>

      <div class="ion-padding">
        <ion-button expand="block" (click)="submitOrder()">Bestellen</ion-button>
        <ion-button *ngIf="edit" expand="block" color="danger" (click)="deleteOrder(order)">Löschen</ion-button>
      </div>
    </ion-card>
  </div>
</ion-content>