ion-card-title {
    font-size: 1.4em;
    font-weight: bold;
}

ion-card-subtitle {
    color: #666;
}

ion-content {
    --background: #f9f9f9;
}

.mobile-only {
    display: block;

    @media (min-width: 768px) {
        display: none;
    }
}