<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>SV Baustetten 1923 e.V.</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="center-content">
  <app-refresh></app-refresh>
  <ion-card>
    <img class="mobile-only" alt="Hähnchen"
      src="https://images.pexels.com/photos/616354/pexels-photo-616354.jpeg?_gl=1*1n8q6bj*_ga*NjYxMTUxOTcyLjE3NTgyMjcyNDQ.*_ga_8JE65Q40S6*czE3NTgyMjcyNDQkbzEkZzEkdDE3NTgyMjczMzkkajU5JGwwJGgw">
    <ion-card-header>
      <ion-card-title>{{ event.name }}</ion-card-title>
      <ion-card-subtitle>{{ event.date }}</ion-card-subtitle>
    </ion-card-header>

<ion-card-content>
  <p><ion-icon name="location-outline"></ion-icon> {{ event.location }}</p> 
  <ion-list *ngIf="slots.length > 0">
    <ion-item *ngFor="let slot of slots">
      <ion-label>
        <strong>{{ formatDate(slot.date) }}</strong><br>
        {{ formatTimeRange(slot.range_start, slot.range_end) }}
      </ion-label>
    </ion-item>
  </ion-list>
  <p>{{ event.description }}</p>
</ion-card-content>
  </ion-card>

  <ion-button expand="block" (click)="onClickOrder()">
    Jetzt bestellen
  </ion-button>

  <ion-button expand="block" routerLink="/kontakt">
    <ion-icon name="call-outline" slot="start"></ion-icon>
    Kontakt & Fragen
  </ion-button>
  </div>
</ion-content>